@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=VT323&display=swap");
/* Reset css */
html,
body,
main,
section,
form,
h1,
h2,
h3,
p,
input,
article,
button {
  margin: 0;
  padding: 0;
  border: none;
}

header,
section {
  display: block;
}
/* End reset css */

:root {
  --primary-color: #5300c8;
  --secundary-color: #cc8282;
  --tertiary-color: #f8f8f8;
  --main-font-color: #2c2733;
  --logo-font: "VT323", monospace;
  --main-font: "Chivo Mono", monospace;
}

header,
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
}

.logo__icon {
  width: 2em;
}
.logo__title {
  font-family: var(--logo-font);
  color: var(--tertiary-color);
  font-size: 2.5em;
}

main {
  display: flex;
  padding: 2em;
  font-family: var(--main-font);
  background-color: var(--tertiary-color);
}

h2 {
  font-family: var(--logo-font);
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 600;
}
.products {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  padding: 2em 0;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}

.products__search {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#btnsearch {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#searchbar {
  width: 90%;
}

.products__container {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  padding: 1em 1em;
}

.products__item {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  width: calc(25% - 1em);
  padding: 1em;
  border-radius: 10px;
  gap: 0.5em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-grow: 1;
}

.products__item:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: 0.4s background-color;
}

.products__item-row {
  display: flex;
  justify-content: space-between;
}

.products-add {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em 0 2em 0;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}

.product__img {
  width: 100%;
  height: 70%;
  max-height: 220px;
  max-width: 200px;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
}

.product__delete {
  fill: var(--primary-color);
}

.product__delete:hover {
  fill: var(--secundary-color);
}

.products__item:hover .product__delete {
  fill: var(--tertiary-color);
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

input {
  padding: 1em;
  border: 4px solid var(--primary-color);
  border-radius: 30px;
  font-family: var(--main-font);
  background-color: var(--tertiary-color);
}

input::placeholder {
  color: var(--main-font-color);
}

input:focus {
  outline: none;
  border-color: var(--secundary-color);
  transition: 0.2s border-color;
}

.buttons__container {
  display: flex;
  gap: 0.5em;
}

button,
input[type="submit"] {
  border-radius: 30px;
  padding: 15px;
  font-family: var(--main-font);
  font-size: 1.2em;
  cursor: pointer;
  border: none;
}

.button__send {
  width: 50%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.button__send:hover,
#btnsearch:hover {
  background-color: var(--secundary-color);
  transition: 0.2s background-color;
}

.button__clean {
  width: 50%;
  border: 4px solid var(--primary-color);
  background-color: var(--tertiary-color);
}

.button__clean:hover {
  border-color: var(--secundary-color);
  transition: 0.2s border-color;
}

.products-add__message {
  font-family: var(--logo-font);
  font-size: 1.5em;
  text-align: center;
  padding: 0em 2em;
  opacity: 0;
}

.products-add__message.show {
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
  font-family: var(--main-font);
  color: var(--tertiary-color);
}
.logo {
  display: flex;
  gap: 0.5em;
}
.footer__credits {
  font-size: 0.8em;
}
.footer_details {
  font-weight: 100;
  font-size: 0.7em;
}

/* Scrollbar styles */

/* Para Chrome, Safari y Edge */
.products__container::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Para Firefox */
.products__container,
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  scroll-behavior: smooth;
}

@media (max-width: 940px) {
  .products__item {
    width: 30%;
  }
}

@media (max-width: 768px) {
  main {
    flex-flow: column-reverse;
  }
  .products {
    width: 100%;
    height: 70vh;
  }
  .products-add {
    width: 100%;
  }
  .products__container {
    flex-direction: column;
    overflow-x: scroll;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: 100%;
    width: 100%;
  }
  .products__item {
    width: auto;
    height: auto;
    flex-grow: 0;
  }
}

@media (max-width: 440px) {
  .buttons__container {
    flex-direction: column;
  }
  .button__clean,
  .button__send {
    width: 100%;
  }
}
