@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=VT323&display=swap");
/* Reset css */
html,
body,
main,
section,
form,
h1,
h2,
h3,
p,
input,
article,
button {
  margin: 0;
  padding: 0;
  border: none;
}

header,
section {
  display: block;
}
/* End reset css */

:root {
  --primary-color: #5300c8;
  --secundary-color: #a37fd5;
  --tertiary-color: #f8f8f8;
  --main-font-color: #2c2733;
  --logo-font: "VT323", monospace;
  --main-font: "Chivo Mono", monospace;
}

header,
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
}

.logo__icon {
  width: 2em;
}
.logo__title {
  font-family: var(--logo-font);
  color: var(--tertiary-color);
  font-size: 2.5em;
}

main {
  display: flex;
  gap: 4em;
  padding: 2em;
  font-family: var(--main-font);
  background-color: var(--tertiary-color);
}

h2 {
  font-family: var(--logo-font);
  color: var(--main-font-color);
  font-size: 2em;
  font-weight: 600;
}
.products {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50vh;
  padding: 2em;
  gap: 2em;
  align-items: center;
}

.products__container {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
  padding: 1em;
}
.products__item {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  color: var(--main-font-color);
  width: 24%;
  padding: 1em;
  border-radius: 10px;
  gap: 0.5em;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border: 5px solid var(--primary-color);
  cursor: pointer;
}

.products__item:hover {
  border-color: var(--secundary-color);
}

.products__item-row {
  display: flex;
  justify-content: space-between;
}

.products-add {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  align-items: center;
  gap: 2em;
}

.product__img {
  width: 100%;
}

.product__delete {
  fill: var(--primary-color);
}

.product__delete:hover {
  fill: var(--secundary-color);
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

input {
  padding: 1em;
  border: 4px solid var(--primary-color);
  border-radius: 30px;
  font-family: var(--main-font);
  background-color: var(--tertiary-color);
}

input::placeholder {
  color: var(--main-font-color);
}

input:focus {
  outline: none;
}

.buttons__container {
  display: flex;
  gap: 0.5em;
}

button {
  border-radius: 30px;
  padding: 15px;
  font-family: var(--main-font);
  font-size: 1.2em;
  cursor: pointer;
}

.button__send {
  width: 50%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.button__send:hover {
  background-color: var(--secundary-color);
}

.button__clean {
  width: 50%;
  border: 4px solid var(--primary-color);
  background-color: var(--tertiary-color);
}

.button__clean:hover {
  border-color: var(--secundary-color);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
  font-family: var(--main-font);
  color: var(--tertiary-color);
}
.logo {
  display: flex;
  gap: 0.5em;
}
.footer__credits {
  font-size: 0.8em;
}
.footer_details {
  font-weight: 100;
  font-size: 0.7em;
}

/* Scrollbar styles */

/* Para Chrome, Safari y Edge */
.products__container::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Para Firefox */
.products__container,
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-arrow-color: transparent;
  scroll-behavior: smooth;
  scrollbar-track-color: transparent;
}
